html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.ui.container.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  & h1 {
    margin-top: 5rem;
    color: rgba(72, 34, 102, 1);
    font-size: 5rem;
  }
}

.ui.home-message {
  margin-top: 5rem;
}
