/* HEADER */

nav.ui.secondary.menu {
  background: rgba(135, 93, 191, 1);
  & a {
    color: white;
  }
  & span {
    color: white;
  }
}

/* Flash Messages*/
.flash-wrapper {
  padding-bottom: 2rem;
}

/* FOOTER */
footer.ui.header {
  margin-top: auto;
  margin-bottom: 0;
  background: rgba(135, 93, 191, 1);
  color: white;
  width: 100vw;
  height: 5rem;
  padding: 0;
}

footer.ui.header div h6 {
  padding: 0;
  margin-bottom: 0.5rem;
}
