<footer class="footer ui header center aligned">
    <div class="ui container text center aligned">
        <h6>
            Thanks for visiting
            <i class="large smile icon"></i>
        </h6>
    </div>
</footer>
</body>

</html>