<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Voting App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

</head>

<body>
    <nav class="ui secondary top-attached menu">
        <div class="ui container">
            <div class="left menu">
                <a class="item" href="/">VoterZ</a>
            </div>
            <div class="right menu">
                <a class="item" href="/login">Login</a>
                <a class="item" href="/register">Register</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="ui container flash-wrapper">
            <% if(error && error.length > 0) {%>
            <div class="ui negative message" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0) {%>
            <div class="ui positive message" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>