<% include ./partials/header %>
    <div class="ui container">
        <h1 class="ui header center aligned">VoterZ</h1>
        <h4 class="ui header center aligned">
            <em>
               A Voting App...
            </em>
        </h4>
        <div class="ui container">
            <div class="ui container center aligned">
                <a class="ui button basic inverted large" href="/poll">To the polls!</a>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>