<% include ../partials/header %>
<div class="ui text container">
    <h1 class="ui header center aligned">Edit Poll</h1>
    <div class="ui container">
        <form class="ui form" action="/poll/new" method="POST">
            <h4 class="ui dividing header">Poll Question</h4>
            <div class="field required">
                <input type="text" name="name" value="<%=poll.pollName %>">
            </div>                
            <h4 class="ui dividing header">Items</h4>
            <% poll.items.forEach(item => { %>
                <div class="field required">                
                    <input type="text" name="item" value="<%= item.name %>">
                </div>
            <% }) %>            
            <input class="ui button" type="submit">
            <a href="/poll">Back</a>
        </form>
    </div>
</div>


<% include ../partials/footer %>