<% include ../partials/header %>
    <div class="ui container">
        <h1 class="ui header center aligned">Create a New Poll</h1>
        <form action="/poll" method="POST">
            <input type="text" name="name" placeholder="Poll Question">

            <input type="text" name="item" placeholder="Choice 1">
            <input type="text" name="item" placeholder="Choice 2">
            <input type="text" name="item" placeholder="Choice 3">
            <input type="text" name="item" placeholder="Choice 4">
            <input type="submit">
        </form>

    </div>


    <% include ../partials/footer %>