<% include ../partials/header %>
    <div class="ui container">
        <h1 class="ui header center aligned">Polls</h1>
        <h2 class="ui header center aligned">
            <%= polls[0].name %>
        </h2>
        <% polls[0].items.forEach(item => { %>
            <p>
                <%= item.name %>
            </p>
            <p>
                <%= item.count %>
            </p>
            <% }) %>
    </div>



    <% include ../partials/footer %>